Dissertation/listings/xsd/modbus_tags_scenario_configs.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Scenario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Guarded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Writer" type="WriterType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DelayedGuarded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Writer" type="WriterType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Multiguarded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Writer" type="WriterType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DelayedMultiGuarded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Writer" type="WriterType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Periodic">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Writer" type="WriterType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ConditionType">
        <xs:attribute name="tag" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
        <xs:attribute name="relation" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="WriterType">
        <xs:sequence>
            <xs:element name="Purpose" type="xs:string" />
            <xs:element name="Conditions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Condition" type="ConditionType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="tag" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
        <xs:attribute name="delta" type="xs:string" />
        <xs:attribute name="period" type="xs:string" />
        <xs:attribute name="delay" type="xs:string" />
        <xs:attribute name="duration" type="xs:string" />
    </xs:complexType>
</xs:schema>
